@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap');

* {
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
    text-decoration: none;
    transition: all .2s linear;
}

html {
    font-size: 62.5%;
}

section {
    padding: 0 7%;
    padding-top: 12rem;
}

.btn {
    margin-top: 1rem;
    padding: .7rem 3rem;
    font-size: 2rem;
    background: #0576f7;
    color: #fff;
}

.btn:hover {
    background: #333;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    background: #fff;
    box-shadow: 0 .1rem .3rem rgba(0, 0, 0, .3);
    width: 100%;
}

header .heading {
    font-size: 3rem;
    color: #666;
    padding: 1rem;
    text-align: center;
}

header .navbar ul {
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
    background: #0576f7;
    padding: 2rem;
}

header .navbar ul li {
    margin: 0 1.5rem;
    padding: 0 2rem;
    text-transform: uppercase;
}

header .navbar ul li a {
    font-size: 2rem;
    color: #fff;
}

header .navbar ul li a:hover {
    /* color: #444; */
    font-weight: bolder;
}

header #menu {
    font-size: 3rem;
    color: #666;
    cursor: pointer;
    margin: 1rem;
    display: none;
}

.logo-container {
    display: flex;
    justify-content: center;
}

.logo {
    height: 50px;
    margin: 5px 0;
}

.about {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    padding-bottom: 2rem;
    min-height: 100vh;
}

.about .image {
    flex: 1 1 40rem;
}

.about .image img {
    width: 100%;
}

.about .content {
    flex: 1 1 40rem;
}

.about .content h1 {
    font-size: 5rem;
    color: #444;
}

.about .content p {
    font-size: 1.6rem;
    color: #666;
    padding: 1rem 0;
}

#active {
    color: black;
}

.contact {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    min-height: 100vh;
}

.contact form {
    flex: 1 1 40rem;
    padding: 2rem;
    margin: 1rem;
    margin-top: 4rem;
    box-shadow: 0 0 .5rem rgba(0, 0, 0, .3);
}

.contact .content {
    flex: 1 1 40rem;
    padding: 3rem 1rem;
}

.contact form .box {
    color: #333;
    width: 100%;
    height: 4rem;
    font-size: 1.7rem;
    border-bottom: .2rem solid rgba(0, 0, 0, .3);
    margin: 1rem 0;
    outline: none;
}

.contact form .box::placeholder {
    text-transform: capitalize;
}

.contact form .box:focus {
    border-color: #0576f7;
}

.contact form .message {
    height: 15rem;
}

.contact .content h3 {
    font-size: 4rem;
    color: #444;
}

.contact .content p {
    font-size: 1.8rem;
    color: #666;
    padding: 1rem 0;
}

.contact .content .icons {
    font-size: 1.7rem;
    color: #333;
    padding: .7rem 0;
}

.contact .content .icons i {
    padding-right: .5rem;
    color: #0576f7;
}

footer {
    background: #333;
}

footer .flex-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

footer .flex-container .box {
    margin: 2rem;
    flex: 1 1 30rem;
}

footer .flex-container .box h3 {
    font-size: 2.5rem;
    color: #fff;
}

footer .flex-container .box p {
    font-size: 1.4rem;
    color: #eee;
    padding: 1rem 0;
}

footer .flex-container .box a {
    font-size: 1.8rem;
    color: #eee;
    padding: .4rem 0;
    display: block;
}

footer .flex-container .box a:hover {
    text-decoration: underline;
}

footer .flex-container .box:nth-child(2) {
    text-align: center;
}

footer .flex-container form {
    display: flex;
    align-items: center;
}

footer .flex-container form input[type="email"] {
    height: 4.1rem;
    width: 100%;
    font-size: 1.7rem;
    padding: 0 1rem;
}

footer .flex-container form .btn {
    margin-top: 0;
}

footer .flex-container form .btn:hover {
    color: #333;
    background: #ccc;
}

footer .copyright {
    font-size: 2rem;
    font-weight: normal;
    color: #fff;
    text-align: center;
    background: #222;
    padding: 2rem 1rem;
}

footer .copyright a {
    color: #0576f7;
}

.team-table {
    width: 100%;
    margin-top: 2rem;
    border-collapse: collapse;
    margin-bottom: 2rem;
    display: none;
    opacity: 0;
    transition: opacity 0.5s ease-out;
}

.team-table th,
.team-table td {
    border: 1px solid #ccc;
    padding: 1rem;
    text-align: center;
    font-size: 15px;
}

.team-table th {
    background-color: #0576f7;
    color: #fff;
}

.team-table tbody tr:nth-child(even) {
    background-color: #f9f9f9;
}

.team-table tbody tr:hover {
    background-color: #f0f0f0;
}

.sweetalert-custom-popup {
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  }

  .sweetalert-custom-title {
    color: #4CAF50;
    font-size: 24px;
  }

  .sweetalert-custom-content {
    color: #333;
    font-size: 16px;
  }

/* mobile view */

@media (max-width:768px) {

    html {
        font-size: 55%;
    }

    .about .content h1 {
        font-size: 4rem;
    }

    header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0 1rem;
    }

    header #menu {
        display: block;
    }

    header .navbar {
        position: fixed;
        top: 6.2rem;
        right: -120%;
        height: 100%;
        width: 100%;
        border-top: 0.2rem solid rgba(0, 0, 0, 0.3);
    }

    header .navbar ul {
        height: 100%;
        width: 100%;
        flex-flow: column;
        background: #fff;
        padding-bottom: 15rem;
    }

    header .navbar ul li {
        text-align: center;
        width: 100%;
        margin: 1rem 0;
    }

    header .navbar ul li a {
        font-size: 2.5rem;
        color: #333;
        display: block;
    }

    header .navbar ul li a:hover {
        color: #0576f7;
    }

    .fa-times {
        transform: rotate(180deg);
    }

    header .navbar.nav-toggle {
        right: 0;
    }
}